<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-page</title>
    <link rel="stylesheet" href="home-page.css">
</head>
<body>
    <div class="main box">
        <div class="heading">
            <h1>The World Of Stories</h1>
        </div>
        <div class="under-main">
            <p>"If you want to explore new stories you are at the right place"</p>
        </div>
    </div>
    <div class="lower-head">
        <p>Links Of Stories:</p>
    </div>
    <div class="content">
        <ul>
            <li><a href="story no1.html"> Story No.1 - The Lost Key </a></li>
            <br>
            <li><a href="Story2.html"> Story No.2 - The Kind Stranger</a></li>
            <br>
            <li><a href="Story3.html">Story No.3 - The Proud Balloon</a></li>
            <br>
            <li><a href="story4.html">Story No.4 - The Silent Tree</a></li>
        </ul>
    </div>
</body>
</html>