*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(moon.jpg);
    background-size: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.box{
    background: radial-gradient(circle, rgba(0, 76, 255, 0.207) 10%, transparent 50%);
    backdrop-filter: blur(2px);
    width: 45%;
    max-width: 46%;
    min-width: 40%;
    border-radius: 8px;
    height: max-content;
    padding: 2px 2px 2px 2px;

}

.content{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    line-height: 40px;
    letter-spacing: 3px;
    text-align: center;
}

.name{
    background-color: transparent;
}

.heading{
    color: lightgray;
    font-size: 50px;
    margin-bottom: 5%;
    letter-spacing: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.upperLine{
    width: 55%;
    margin-left: 0%;
    margin-top: 3%;
    height: 5%;
    margin-bottom: 2%;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.738);
}

.lowerLine{
    width: 55%;
    margin-left: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: none;
    border-top: 2px solid rgba(128, 128, 128, 0.738);
}

.navbar{
    margin-top: -4%;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 3px;
    border: 1px solid white;
    padding: 15px 40px 15px 40px;
    text-align: center;
}