*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(pexels-brett-sayles-1098888.jpg);
    background-size: cover;
}

.heading{
    font-size: 13rem;
    font-family: Verdana;
    font-weight: 900;
    margin-top: 2%;
    margin-left: 2%;
    color: black;
    letter-spacing: 3px;
}

#Lang{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 2%;
    color: brown;
}

#listL{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 3rem;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.line{
    width: 70%;
    margin-left: 2%;
    border: none;
    border-top: 2px solid rgba(255, 0, 0, 0.401);
}

#tool{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 2%;
    color: brown;
}

#listT{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 3rem;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

#listT a{
    color: whitesmoke;

}

#levelH{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 2%;
    margin-left: 2%;
    color: brown;
}

#L{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 3rem;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px; 
}

#ullist{
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ullist a{
    background-color: rgba(169, 205, 237, 0.223);
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 3px;
    border: 1px solid white;
    padding: 15px 40px 15px 40px;
    text-align: center;
}